* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(106, 60, 133);
    color: white;
    padding: 80px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.subtitulo {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

section {
    padding: 60px 120px 60px 120px;
}

section h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 46px;
    color: rgb(106, 60, 133);
    position: relative;
}

.secao-bg-light {
    background-color: #f8f9fa;
    width: 100%;
}

.exemplo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.exemplo-grid-01 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px 20px;
}

.exemplo-grid h3 {
    color: rgb(106, 60, 133);
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.card-cor-nome {
    background-color: #f8f9fa;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-cor-nome p {
    background-color: red;
    color: white;
}

.card-cor-hex {
    background-color: #f8f9fa;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-cor-hex p {
    color: #3498db;
}

.card-cor-rgb {
    background-color: #f8f9fa;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-cor-rgb p {
    color: rgb(46, 204, 113);
}

.card-cor-rgba {
    background-color: #f8f9fa;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-cor-rgba p {
    color: rgba(155, 89, 182, 0.7);
}

.card-cor-hsl {
    background-color: #f8f9fa;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-cor-hsl p {
    color: hsl(48, 89%, 60%)
}

.card-paleta-cores {
    background-color: #f8f9fa;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.paleta-grid {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.f {
    padding-left: 20px;
}

.s {
    padding-right: 60px;
}

.paleta-grid li {
    line-height: 1.5;
}

.tipo-exemplo-roboto {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tipo-exemplo-roboto h3 {
    color: rgb(106, 60, 133);
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.peso-light {
    font-family: "Roboto", sans-serif;
    Font-weight: lighter
}

.peso-normal {
    font-family: "Roboto", sans-serif;
    Font-weight: 400
}

.peso-bold {
    font-family: "Roboto", sans-serif;
    Font-weight: 700
}

.tipo-exemplo-playfair {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tipo-exemplo-playfair h3 {
    color: rgb(106, 60, 133);
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.tipo-exemplo-playfair p {
    font-family: "Playfair", serif;
    font-size: 28px;
}

.tipo-exemplo-sistema {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tipo-exemplo-sistema h3 {
    color: rgb(106, 60, 133);
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.tamanho-14 {
    Font-size: 14px
}

.tamanho-16 {
    Font-size: 16px
}

.tamanho-18 {
    Font-size: 18px
}

.tamanho-24 {
    Font-size: 24px
}

.tipo-exemplo-espacamento {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tipo-exemplo-espacamento h3 {
    color: rgb(106, 60, 133);
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.linha-compacta {
    Line-height: 1.2
}

.linha-normal {
    Line-height: 1.5
}

.linha-ampla {
    Line-height: 2.0
}

.card-bg-cor {
    background-color: #f8f9fa;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-bg-imagem {
    background-color: #f8f9fa;
    background-image: url("image.png");
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-bg-cover {
    background-color: #f8f9fa;
    background-image: url("image.png");
    background-size: cover;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-bg-contain {
    background-color: #f8f9fa;
    background-image: url("image.png");
    background-size: contain;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.exemplo-posicao {
    padding: 30px 20px 20px 20px;
}

.posicao-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px 20px;
}

.exemplo-posicao h3 {
    color: rgb(106, 60, 133);
    margin-bottom: 15px;
    font-size: 2.0rem;
}

.pos-item-bg-pos-center {
    background-color: #f8f9fa;
    background-image: url("image\ copy.png");
    background-position: center;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.pos-item-bg-pos-top {
    background-color: #f8f9fa;
    background-image: url("image\ copy.png");
    background-position: top;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.pos-item-bg-pos-bottom {
    background-color: #f8f9fa;
    background-image: url("image\ copy.png");
    background-position: bottom;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.pos-item-bg-pos-left {
    background-color: #f8f9fa;
    background-image: url("image\ copy.png");
    background-position: left;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.pos-item-bg-pos-right {
    background-color: #f8f9fa;
    background-image: url("image\ copy.png");
    background-position: right;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}